*,
*::after,
*::before {
    box-sizing: border-box;
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

canvas {

    width: 94vh;
    position: relative;

}

#gameOverScreen {
    background-color: black;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 30px double #ff0101;
    font-size: 2em;
    margin-top: 0;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    flex-direction: column;
    position: absolute;
    color: white;
    /* here you would want to change this property in js to display flex */
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3); */
}




#winScreen {

    background-color: black;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 30px double #99ff01;
    font-size: 2.5em;
    margin-top: 0;
    margin-left: 0%;
    margin-right: 0%;
    flex-direction: column;
    position: absolute;
    color: white;
    /* here you would want to change this property in js to display flex */
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* #wintitle{
    font-size: 2em;
} */

#happyPacManimg {
    max-height: 100%;
    max-width: 100%;
}

button {
    margin: 1%;
    padding: 5%;
    font-size: 40px;
    border-radius: 16px;
}

button:hover {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


#gif {
    max-height: 100%;
    max-width: 100%;
}

#ghosts,
#animation {
    display: none;
}

#joy1 {
    top: 500px
}