body{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction:column;
}

canvas{
    
    width: 94vh;
    position: relative;
 
}

#ghosts,#animation{
    display: none;
}  